version: '3.8'
services:
  backend:
    build:
      context: ./backend
      args:
        - API_PORT=${API_PORT}
    container_name: backend_container
    environment:
      - API_PORT=${API_PORT}
      - DB_HOST={DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
    ports:
      - ${API_PORT}:${API_PORT}
    depends_on:
      - mysql
    networks:
      - app-network

  mysql:
    image: mysql:latest
    container_name: mysql_container
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD:-rootpassword}
      - MYSQL_DATABASE=${DB_DATABASE:-authdatabase}
      - MYSQL_USER=${DB_USER:-authuser}
      - MYSQL_PASSWORD=${DB_PASSWORD:-authpassword}
    ports:
      - ${DB_PORT}:3306
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - app-network

networks:
  app-network:

volumes:
  mysql-data: